@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-panel {
    @apply bg-zinc-950/80 border border-zinc-800 backdrop-blur-xl shadow-2xl;
  }
}

body {
  background-color: #000;
  color: #d4d4d8;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: #f59e0b; /* Amber 500 */
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* Zinc 800 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}
